* {
    box-sizing: border-box;
    
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 3%;
    /* background-color: rgb(84, 187, 163); */
    color: rgb(247, 199, 42);
}



h1 {
    font-size: 4rem;
    font-family: 'Martel', serif;
    font-weight: 900;
    line-height: 1em;
    margin-bottom: 1rem;
    /* color: rgb(235, 75, 27);
    color:rgb(84, 187, 163) ; */
}



p {
    padding: 0;
    margin: 0;
   /* line-height: 1.24em; */
}
 
 a {
    width:100%;
    height:100%;
    display:block;
    color: rgb(235, 75, 27); 
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center; 
}



.wrapper {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    /* background-color: rgba(218, 165, 32, 0.23); */
}

.contact {
    font-family: 'Martel', serif;
    font-weight: 900;
    color: rgb(235, 75, 27);  
    background-color:  rgb(84, 187, 163);
    font-size: 5rem;    
}

.contact:hover {
    background-color:   rgb(235, 75, 27);     
}
.contact a:hover {    
    color:rgb(84, 187, 163);
}

.hi {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

/*----------------------------*/

.herogrid {
    display: grid;
    grid-gap: 15px;
    max-width: 90%;
    margin: 0 auto;
    padding: 15px;
}

.herogrid > div {
    /* border: 1px solid goldenrod; */
    /* color:lightgoldenrodyellow; */
    padding: 10px 15px; 
}

.folio  {
    font-family: 'Martel', serif;
    font-weight: 900;
    background-color: rgb(235, 75, 27);  
    font-size: 3rem;    
}
.folio a {
    color: rgb(254, 214, 83);
}
.folio:hover {
    background-color:  rgb(84, 187, 163);     
}
.folio a:hover {    
    color:rgb(254, 214, 83);
}

.photograph  {
    font-family: 'Martel', serif;
    font-weight: 900;
    color: rgb(235, 75, 27);  
    background-color: rgb(254, 214, 83);
    font-size: 3rem; 
}

.photograph:hover {
    background-color: rgb(235, 75, 27);     
}
.photograph a:hover {    
    color: rgb(254, 214, 83);
}



/*  mobile */
@media (max-width:580px) {
.herogrid{
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(3,1fr) auto ;
}

.hello {
    grid-column: 1/3;
}

.folio {
    grid-column: 1/3;
    /* grid-row: 2/4; */
}

.photograph {
    grid-column: 1/3;
    /* grid-row: 4/6; */
}

.contact {
    grid-column: 1/3;
}

}


/* 1. media query */

@media (min-width: 580px) {
    .herogrid {
        grid-template-rows: auto repeat(4, 1fr) auto;
        grid-template-columns: repeat(2, 1fr);
        
    }
    
    .herogrid .hello {
        grid-column: 1/3;
        grid-row: 1/3;
        
    }
    
   .herogrid .folio {
        grid-row: 3/6;
         
    }

    .herogrid .photograph {
        grid-row: 3/5
    }
    
   .herogrid .contact {
        grid-row: 5;
        grid-column: 2;
    }
    
}